.sticky-header {
    width: 100%;
    z-index: 9;
    transition: all 300ms ease-in-out;
}

.absolute-header {
    position: absolute;
}

.fixed-header {
    position: fixed;
}














/* // ====== Scroll Effect ====== //

.fixed-header {
    position: fixed;
}

.absolute-header {
    position: absolute;
}

.scroll-down .scroll-header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .scroll-header {
    position: fixed;
} */