// Partial imports

@use 'partials/main-styles';
@use 'partials/header-styles';
@use 'partials/navbar-styles';
@use 'partials/banner-styles';
@use 'partials/services-styles';
@use 'partials/about-styles';
@use 'partials/news-styles';
@use 'partials/form-styles';
@use 'partials/client-styles';
@use 'partials/footer-styles';
@use 'partials/accreditations-styles';
@use 'partials/scroll-header';