/* ======================== Netmatters Colors ======================== */
/* ======================== Viewport Widths ======================== */
/* XS: no media queries as this is default when developing (mobile first, aim to make sure this works from 280px and above)*/
/* ======================== Icomoons Fonts ======================== */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?2lq1s0");
  src: url("../fonts/icomoon.eot?2lq1s0#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2lq1s0") format("truetype"), url("../fonts/icomoon.woff?2lq1s0") format("woff"), url("../fonts/icomoon.svg?2lq1s0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-full:before {
  content: "\e900";
}

.icon-display:before {
  content: "\e956";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-checkbox-unchecked:before {
  content: "\ea53";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-checkmark:before {
  content: "\e90c";
}

.icon-menu:before {
  content: "\e90a";
}

.icon-bar-graph:before {
  content: "\e902";
}

.icon-magnifying-glass:before {
  content: "\e909";
}

.icon-circle:before {
  content: "\e901";
}

.icon-code:before {
  content: "\e90b";
}

.icon-school:before {
  content: "\e903";
}

.icon-security:before {
  content: "\e904";
}

.icon-phone_in_talk:before {
  content: "\e905";
}

.icon-apps:before {
  content: "\e906";
}

.icon-mouse:before {
  content: "\e907";
}

.icon-paperplane:before {
  content: "\e908";
}

.icon-send:before {
  content: "\e908";
}

.icon-flight:before {
  content: "\e908";
}

.icon-email:before {
  content: "\e908";
}

#cookies {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}

.cookies-outercontainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookies-container {
  background-color: white;
  color: #666;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .cookies-container {
    width: 600px;
  }
}

.cookies-subcontainer {
  width: 100%;
  height: 100%;
  margin: auto;
}

.cookies {
  min-height: 70px;
  width: 100%;
  height: 100%;
}

.cookies-title {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}

.cookies-title h1 {
  line-height: 1.42857143;
  margin: 0;
  font-weight: 400;
  font-size: 1.625rem;
  margin: 0;
  color: #333645;
}

.cookies-text {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
}

.cookies-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}
@media screen and (min-width: 768px) {
  .cookies-btn-container {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

.cookies-text a {
  color: #333645;
  text-decoration: none;
}

.cookies-text a:hover, .cookies a:focus {
  color: #121419;
  text-decoration: underline;
}

.cookies-text p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}

#cookies-btn {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #cookies-btn {
    width: 264px;
  }
}

.cookies-btn-settings {
  color: #fff;
  background-color: #999aa2;
  border-color: #999aa2;
}

.cookies-btn-settings:hover, .cookies-btn-settings:focus {
  color: #fff;
  background-color: #84858f;
  border-color: #797a85;
}

.cookies-btn-accept {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.cookies-btn-accept:hover, .cookies-btn-accept:focus {
  color: #fff;
  background-color: #7e57a0;
  border-color: #735093;
}

/*# sourceMappingURL=cookies-styles.css.map */
