@use '../abstracts' as *;

.banner-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 530px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../images/home-sqvx.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    @media screen and (min-width: 990px) {
        justify-content: flex-start;
        align-items: flex-start;
        // padding-left: 30px;
    }
}

.banner-contents {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    @media screen and (min-width: 990px) {
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 30px;
    }
}

.banner-text {
    width: 90%;
    text-align: center;
    @media screen and (min-width: 990px) {
        text-align: left;
        width: 100%;
    }
}

.banner-text h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
}

.banner-text p {
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.software-bannner-btn {
    display: flex;
    width: 230px;
    height: 62px;
    padding: 5px 20px;
    border-radius: 3px;
    border-color: #67809f;
    background-color: $light-blue-grey;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;
}

.software-bannner-btn a {
    color: #fff;
    text-transform: uppercase;
}

.software-bannner-btn span {
    margin-left: 5px;
}

.software-bannner-btn:hover {
    background-color: #4e627b;
    border-color: #4e627b;
}

.banner-controls-container {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
}

.banner-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banner-controls .icon-circle {
    font-size: 0.8rem;
    color: #bababa;
    margin: 0 10px;
}

.banner-controls .icon-circle-full {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
}