@use '../abstracts' as *;

.clients-section {
    display: none;
    @media screen and (min-width: 765px) {
        display: flex;
        width: 100%;
        height: 145px;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 35px rgb(0 0 0 / 10%) inset;
    }
}

.client-logo {
    padding: 0 20px;
    @media screen and (min-width: 1260px) {
        padding: 0 40px;
    }
}

.busseys-img, .busseys-img-colour {
    width: 121px;
    @media screen and (min-width: 992px) {
        width: 169px;
    }
    @media screen and (min-width: 1260px) {
        width: 188px;
    }
}

.busseys-img-colour {
    display: none;
}

.busseys:hover .busseys-img {
    display: none;
}
.busseys:hover .busseys-img-colour {
    display: inline-block;
}


.crane-img, .crane-img-colour {
    width: 185px;
    @media screen and (min-width: 992px) {
        width: 258px;
    }
    @media screen and (min-width: 1260px) {
        width: 287px;
    }
}

.crane-img-colour {
    display: none;
}

.crane:hover .crane-img {
    display: none;
}
.crane:hover .crane-img-colour {
    display: inline-block;
}

.beat-img, .beat-img-colour {
    width: 46px;
    @media screen and (min-width: 992px) {
        width: 65px;
    }
    @media screen and (min-width: 1260px) {
        width: 72px;
    }
}

.beat-img-colour {
    display: none;
}

.beat:hover .beat-img {
    display: none;
}
.beat:hover .beat-img-colour {
    display: inline-block;
}

.northern-diver-img, .northern-diver-img-colour {
    width: 207.5px;
    @media screen and (min-width: 992px) {
        width: 289px;
    }
    @media screen and (min-width: 1260px) {
        width: 322px;
    }
}

.northern-diver-img-colour {
    display: none;
}

.northern-diver:hover .northern-diver-img {
    display: none;
}
.northern-diver:hover .northern-diver-img-colour {
    display: inline-block;
}

.client-item {
    position: relative;
}

.description {
    display: none;
    position: absolute;
    left: -200px;
    right: -200px;
}

.description-busseys {
    top: -170px;
}

.description-crane {
    top: -215px;
}

.description-beat {
    top: -173px;
}

.description-northern-diver {
    top: -215px;
}

.box {
    text-align: center;
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    max-width: 260px;
    margin: 0 auto 50px;
}

.description-beat .box {
    left: -32px;
    right: -32px;
}

.box .arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
}

.box .arrow:after {
    content: "";
    margin: auto;
    display: inline-block;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0;
}

.box h3 {
    position: relative;
    font-size: 1.125rem;
    color: #fff;
    padding-bottom: 17px;
    margin: 0 0 11px;
    font-weight: 400;
}

.box p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 0;
}

.box h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: #fff;
}

.client-item:hover .description {
    display: block;
}