@use '../abstracts' as *;

.clients-section {
    display: none;
    @media screen and (min-width: 765px) {
        display: flex;
        width: 100%;
        height: 145px;
        justify-content: center;
        align-items: center;
    }
}

.client-logo {
    padding: 0 20px;
    @media screen and (min-width: 1260px) {
        padding: 0 40px;
    }
}

.busseys-img, .busseys-img-colour {
    width: 121px;
    @media screen and (min-width: 992px) {
        width: 169px;
    }
    @media screen and (min-width: 1260px) {
        width: 188px;
    }
}

.busseys-img-colour {
    display: none;
}

.busseys:hover .busseys-img {
    display: none;
}
.busseys:hover .busseys-img-colour {
    display: inline-block;
}


.crane-img, .crane-img-colour {
    width: 185px;
    @media screen and (min-width: 992px) {
        width: 258px;
    }
    @media screen and (min-width: 1260px) {
        width: 287px;
    }
}

.crane-img-colour {
    display: none;
}

.crane:hover .crane-img {
    display: none;
}
.crane:hover .crane-img-colour {
    display: inline-block;
}

.beat-img, .beat-img-colour {
    width: 46px;
    @media screen and (min-width: 992px) {
        width: 65px;
    }
    @media screen and (min-width: 1260px) {
        width: 72px;
    }
}

.beat-img-colour {
    display: none;
}

.beat:hover .beat-img {
    display: none;
}
.beat:hover .beat-img-colour {
    display: inline-block;
}

.northern-diver-img, .northern-diver-img-colour {
    width: 207.5px;
    @media screen and (min-width: 992px) {
        width: 289px;
    }
    @media screen and (min-width: 1260px) {
        width: 322px;
    }
}

.northern-diver-img-colour {
    display: none;
}

.northern-diver:hover .northern-diver-img {
    display: none;
}
.northern-diver:hover .northern-diver-img-colour {
    display: inline-block;
}