@use '../abstracts' as *;

footer {
    width: 100%;
    background-color: #333645;
    color: #fff;
    padding: 47px 0;
    font-size: .8125rem;
    line-height: 1.375rem;
    padding-left: 10px;
}

.footer-top {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1260px){
        width: 1170px;
        max-width: 100%;
        align-items: flex-start;
    }
}

.footer-about-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    @media screen and (min-width: 990px){
        width: 940px;
    }
    @media screen and (min-width: 1260px){
        width: 40%;
    }
}

.footer-offices-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    @media screen and (min-width: 990px){
        width: 940px;
    }
    @media screen and (min-width: 1260px){
        width: 60%;
    }
}

.footer-office, .footer-about, .footer-services {
    width: 225px;
}

.footer-office {
    @media screen and (min-width: 990px){
        margin-left: 30px;
        margin-right: 30px;
    }
    @media screen and (min-width: 1260px){
        margin: 0;
    }
}

.footer-about, .footer-services {
    @media screen and (min-width: 990px){
        margin-left: 60px;
        margin-right: 60px;
    }
    @media screen and (min-width: 1260px){
        margin: 0;
    }
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

footer ul {
    padding-inline-start: 0px;

}

footer h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 26px;
}

.footer-bottom {
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.footer-bottom-container {
    width: 100%;
    border-top: 1px solid #888;
    padding-top: 15px;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    @media screen and (min-width: 768px){
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 990px){
        width: 940px;
    }
    @media screen and (min-width: 1260px){
        width: 1170px;
    }
}

.copyright {
    display: flex;
    flex-wrap: row nowrap;
    @media screen and (max-width: 767px){
        width: 60%;
    }
}

.copyright span {
    margin-left: 10px;
    margin-right: 10px;
}

.copyright ul {
    margin-top: 0;
    margin-bottom: 0;
}

.license {
    @media screen and (max-width: 767px){
        width: 70%;
        max-width: 237px;
    }
    @media screen and (min-width: 768px){
        width: 363px;
    }
}

.social-media {
    display: flex;
    justify-content: end;
    @media screen and (max-width: 767px){
        width: 40%;
    }
}

.social-media a {
    padding-left: 9px;
    padding-right: 9px;
}

.social-media a:first-child {
    padding-left: 0;
}

.social-media a:last-child {
    padding-right: 5px;
}