@use '../abstracts' as *;

.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px 0;
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    padding: 20px 10px;
    @media screen and (min-width: 765px) {
        justify-content: center;
        height: 100px;
    }
}

.nm-logo-container, .phone-icon-container, .burger-menu-container {
    box-sizing: border-box;
    height: 70px;
}

.search-bar-container {
    height: 50px;
}

/* === Netmatters Logo ===*/

.nm-logo-container {
    width: 70%;
    order: 1;
    display: flex;
    justify-content: flex-start;
    flex: 1 1 auto;
    @media screen and (min-width: 765px) {
        width: 400px;
        flex: 0 1 auto;
    }
    @media screen and (min-width: 992px) {
        width: 450px;
    }
}

header .header-container .nm-logo-container img {
    width: 90%;
    max-width: 360px;
    display: block;
    float: left;
}

.nm-logo-container img {
    @media screen and (min-width: 992px) {
        width: 370px;
    }
}

.nm-logo {
    @media screen and (min-width: 992px) {
        width: 100%;
    }
}

/* ======= Support =======*/

.support-container {
    display: none;
    @media screen and (min-width: 990px) {
        box-sizing: border-box;
        display: flex;
        order: 2;
        width: 135px;
        height: 50px;
        padding: 5px;
        background-color: $light-blue;
        border: $light-blue;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        border-radius: 3px;
    }
}

.support-container:hover {
    background-color: #2a6ec6;
    border-color: #2665b5;
}

.support-container:hover #support-text, .support-container:hover .mouse-icon {
    color: #fff;
}

.mouse-icon {
    color: #fff;
    line-height: 50px;
    font-size: 1.25rem;
}

#support-text {
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 5px;
}

/* ======= Contact =======*/

.contact-container {
    display: none;
    @media screen and (min-width: 990px) {
        box-sizing: border-box;
        margin-left: 20px;
        display: flex;
        order: 3;
        width: 140px;
        height: 50px;
        padding: 5px;
        background-color: #999aa2;
        border: #999aa2;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        border-radius: 3px;
    }
}

.contact-container:hover {
    background-color: #84858f;
    border-color: #797a85;
}

.contact-container:hover #paperplane-text, .contact-container:hover .paperplane-icon {
    color: #fff;
}

.paperplane-icon {
    color: #fff;
    line-height: 50px;
    font-size: 1.25rem;}

#paperplane-text {
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 5px;
}

.phone-icon-container {
    width: 10%;
    text-align: center;
    font-size: 2rem;
    order: 2;
    flex: 0 1 33px;
    @media screen and (min-width: 765px) {
        display: none;
    }
}

.phone-icon {
    line-height: 50px;
}

.phone-icon:hover {
    color: black;
    text-decoration: underline;
}

/* ===== Burger menu =====*/

.burger-menu-container {
    width: 20%;
    order: 3;
    flex: 0 1 55px;
    margin-left: 10px;
    @media screen and (min-width: 410px){
        margin-left: 20px;   
    }
    @media screen and (min-width: 990px) {
        order: 5;
    }
}

.burger-button {
    float: right;
    box-sizing: border-box;
    width: 55px;
    height: 50px;
    background-color: $darker-slate-grey;
    border-color: $darker-slate-grey;
    color: #fff;
    overflow-x: hidden;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    margin: auto;
    @media screen and (min-width: 990px) {
        width: 58px;
    }
}

.icon-menu {
    font-size: 1.5rem;
    @media screen and (min-width: 990px) {
        font-size: 1.6rem;
    }
}

.burger-title {
    display: block;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.burger-button:hover {
    background-color: #22242e;
    border-color: #191a22;
}

.burger-button:hover .burger-title, .burger-button:hover .icon-menu {
    color: #fff;
}

/* ====== Search bar =====*/

.search-bar-container {
    order: 4;
    display: flex;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    outline: 1px solid hsla(0,0%,100%,.2);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 3px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    align-items: stretch;
    justify-content: space-between;
    @media screen and (min-width: 765px) {
        order: 2;
        width: 220px;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 0px;
    }
    @media screen and (min-width: 990px) {
        order: 4;
        width: 55px;
        margin-left: 20px;
    }
    @media screen and (min-width: 1260px) {
        order: 3;
        width: 300px;
    }
}

.search-form, .icon-magnifying-glass {
    display: inline;
    position: relative;
    vertical-align: bottom;
    margin: 0;
}

.search-form {
    height: 100%;
}

.search-form input {
    width: 85%;
    background: transparent;
    border: none;
    font-size: 0.9rem;
    @media screen and (min-width: 765px) {
        order: 2;
        width: 165px;
        height: 100%;
        outline: 1px solid hsla(0,0%,100%,.2);
        border-top: 2px solid rgba(0,0,0,.1);
        border-left: 2px solid rgba(0,0,0,.1);
        border-bottom: 2px solid rgba(0,0,0,.1);
        border-radius: 3px 0 0 3px;
        padding-left: 10px;
    }
    @media screen and (min-width: 990px) {
        display: none;
        width: 0;
    }
    @media screen and (min-width: 1260px) {
        display: inline-block;
        width: 245px;
        height: 100%;
        outline: 1px solid hsla(0,0%,100%,.2);
        border-top: 2px solid rgba(0,0,0,.1);
        border-left: 2px solid rgba(0,0,0,.1);
        border-bottom: 2px solid rgba(0,0,0,.1);
        border-radius: 3px 0 0 3px;
        padding-left: 10px;
    }
}

.icon-magnifying-glass {
    width: 15%;
    font-size: 1.6rem;
    line-height: 50px;
    color: $darker-slate-grey;
    @media screen and (min-width: 765px) {
        background-color: #999aa2;
        border: #999aa2;
        color: #fff;
        width: 55px;
        padding: 5px;
        vertical-align: center;
        line-height: 35px;
        border-radius: 0 3px 3px 0;
    }
    @media screen and (min-width: 990px) {
        border-radius: 3px;
    }
    @media screen and (min-width: 1260px) {
        border-radius: 0 3px 3px 0;
    }
}

.icon-magnifying-glass::before {
    @media screen and (min-width: 765px) {
        position: absolute;
        bottom: 5px;
        right: 13px;
    }
    @media screen and (min-width: 990px) {
        right: 14px;
    }
}

.search-bar-container:hover .icon-magnifying-glass {
    color: #fff;
    background-color: #84858f;
    border-color: #797a85;
}
