@use '../abstracts' as *;

/* ======== Header styles ======== */

header {
    background-color: #fff;
    width: 100%;
}

.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px 0;
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    padding: 20px 10px;
}
@media screen and (min-width: 768px) {
    .header-container {
        justify-content: center;
        height: 110px;
    }
}

.nm-logo-container, .phone-icon-container, .burger-menu-container {
    box-sizing: border-box;
    height: 70px;
}

.search-bar-container {
    height: 56px;
}

/* === Netmatters Logo ===*/
.nm-logo-container {
    width: 40%;
    align-items: center;
    order: 1;
    display: flex;
    justify-content: flex-start;
    flex: 1 1 auto;
    @media screen and (min-width: 347px) {
        width: 45%;
        }
}

@media screen and (min-width: 768px) {
    .nm-logo-container {
        width: 345px;
        flex: 0 1 auto;
        margin-right: 40px;
    }
}
@media screen and (min-width: 992px) {
    .nm-logo-container {
        width: 450px;
        margin-right: 0;
    }
}

header .header-container .nm-logo-container img {
    width: 100%;
    display: block;
    float: left;
    max-width: 402px;
    @media screen and (min-width: 768px){
        max-width: 345px;
    }
    @media screen and (min-width: 992px){
        max-width: 374.156px;
    }
    @media screen and (min-width: 1260px){
        max-width: 370px;
    }
}

@media screen and (min-width: 992px) {
    .nm-logo-container img {
        width: 370px;
    }
}

@media screen and (min-width: 992px) {
    .nm-logo {
        width: 100%;
    }
}

/* ======= Support =======*/
.support-container {
    display: none;
}
@media screen and (min-width: 992px) {
    .support-container {
        box-sizing: border-box;
        display: flex;
        order: 2;
        width: 142px;
        height: 56px;
        padding: 5px 15px;
        background-color: #4183D7;
        border: #4183D7;
        align-items: center;
        justify-content: flex-start;
        line-height: 45px;
        border-radius: 3px;
    }
}

.support-container:hover {
    background-color: #2a6ec6;
    border-color: #2665b5;
}

.support-container:hover #support-text, .support-container:hover .mouse-icon {
    color: #fff;
}

.mouse-icon {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.438rem;
}

#support-text {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-left: 5px;
}

/* ======= Contact =======*/
.contact-container {
    display: none;
}
@media screen and (min-width: 992px) {
    .contact-container {
        box-sizing: border-box;
        margin-left: 20px;
        display: flex;
        order: 3;
        width: 150px;
        height: 56px;
        padding: 5px 15px;
        background-color: #999aa2;
        border: #999aa2;
        align-items: center;
        justify-content: flex-start;
        border-radius: 3px;
        line-height: 45px;
    }
}

.contact-container:hover {
    background-color: #84858f;
    border-color: #797a85;
}

.contact-container:hover #paperplane-text, .contact-container:hover .paperplane-icon {
    color: #fff;
}

.paperplane-icon {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.25rem;
}

.icon-paperplane {
    vertical-align: middle;
}

#paperplane-text {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-left: 5px;
}

.phone-icon-container {
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    order: 2;
}
@media screen and (min-width: 768px) {
    .phone-icon-container {
        display: none;
    }
}

.phone-icon {
    line-height: 50px;
}

.phone-icon:hover {
    color: black;
    text-decoration: underline;
}

/* ====== Search bar =====*/

.search-bar-container {
    order: 4;
    display: flex;
    width: 100%;
    height: 47px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: center;
    vertical-align: center;
    justify-content: space-between;
}
@media screen and (min-width: 768px) {
    .search-bar-container {
        order: 2;
        width: 220px;
        height: 56px;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 0px;
    }
}
@media screen and (min-width: 992px) {
    .search-bar-container {
        order: 4;
        width: 63px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 1260px) {
    .search-bar-container {
        order: 3;
        width: 300px;
    }
}

.search-form, .icon-magnifying-glass {
    display: inline;
    position: relative;
    vertical-align: bottom;
    margin: 0;
}

.search-bar-container > span > input[type=submit] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.search-form {
    height: 100%;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.search-form input {
    height: 100%;
    width: 100%;
    padding: 5px 15px;
    background: transparent;
    border: none;
    font-size: 0.9rem;
    line-height: 1.42857143;
}
@media screen and (min-width: 768px) {
    .search-form input {
        order: 2;
        width: 165px;
        height: 100%;
        outline: 1px solid rgba(255, 255, 255, 0.2);
        border: 1px solid #e5e5e5;
        border-radius: 0;
        padding: 5px 15px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}
@media screen and (min-width: 992px) {
    .search-form input {
        display: none;
        width: 0;
    }
}
@media screen and (min-width: 1260px) {
    .search-form input {
        display: inline-block;
        width: 245px;
        height: 100%;
        outline: 1px solid rgba(255, 255, 255, 0.2);
        border: 1px solid #e5e5e5;
        border-radius: 0;
        padding: 5px 15px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

#search-bar:focus {
    @media screen and (max-width: 767px) {
        outline: none;
    }
    @media screen and (min-width: 768px) {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
    }
}

.icon-magnifying-glass {
    line-height: 45px;
    color: #333645;
    font-size: 1.6rem;
    margin-right: 5px;
}
@media screen and (min-width: 768px) {
    .icon-magnifying-glass {
        font-size: 1.8rem;
        background-color: #999aa2;
        border: #999aa2;
        color: #fff;
        width: 63px;
        padding: 5px;
        border-radius: 0 3px 3px 0;
        margin-right: 0px;
    }
}
@media screen and (min-width: 992px) {
    .icon-magnifying-glass {
        border-radius: 3px;
    }
}
@media screen and (min-width: 1260px) {
    .icon-magnifying-glass {
        border-radius: 0 3px 3px 0;
    }
}


@media screen and (min-width: 768px) {
    .search-bar-container .icon-magnifying-glass:hover {
        color: #fff;
        background-color: #84858f;
        border-color: #797a85;
    }
}

/* ===== Burger menu =====*/
.burger-menu-container {
    width: 64px;
    order: 3;
    flex: 0 1 55px;
    display: flex;
    align-items: center;
}
@media screen and (min-width: 410px) {
    .burger-menu-container {
        margin-left: 20px;
        width: 84px;
    }
}
@media screen and (min-width: 992px) {
    .burger-menu-container {
        order: 5;
    }
}

.burger-button {
    box-sizing: border-box;
    width: 63.031px;
    height: 56px;
    background-color: #333645;
    border: none;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    border-radius: 3px;
    line-height: 46px;
    font-size: 1.125rem;
}

@media screen and (min-width: 992px) {
    .icon-menu {
        font-size: 1.6rem;
    }
}

.burger-title {
    display: block;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1;
    position: relative;
}

.burger-button:hover {
    background-color: #22242e;
    border-color: #191a22;
}

.burger-button:hover .burger-title, .burger-button:hover .icon-menu {
    color: #fff;
}

.burger-box {
    display: block;
    position: relative;
    top: -3px;
}

// .burger-inner {
//     width: 33px;
//     height: 3px;
//     background-color: #fff;
//     display: block;
// }

// .burger-box::before {
//     content: "";
//     display: block;
//     background-color: #fff;
//     width: 33px;
//     height: 3px;
//     position: absolute;
//     top: -8px;
// }

// .burger-box::after {
//     content: "";
//     display: block;
//     background-color: #fff;
//     width: 33px;
//     height: 3px;
//     position: absolute;
//     bottom: -8px;
// }

.burger-box:before, .burger-box:after, .burger-inner {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}

.burger-box.is-active:before {
    transform: rotate(-45deg) translate(-8px, 7px);
}

.burger-box.is-active:after {
    transform: rotate(45deg) translate(-6px, -5px);
}

.burger-box.is-active .burger-inner {
    opacity: 0;
}