@use '../abstracts' as *;

// .scroll-header {
//     width: 100%;
//     z-index: 999;
//     transition: all 300ms ease-in-out;
// }

// // ====== Scroll Effect ====== //

// .fixed-header {
//     position: fixed;
// }

// .absolute-header {
//     position: absolute;
// }

// .scroll-down .scroll-header {
//     transform: translate3d(0, -100%, 0);
// }

// .scroll-up .scroll-header {
//     position: fixed;
// }